body {
	margin: 0px;
	padding: 0px;
	background: #F3F5FC;

}
.container{
	margin: auto;
	width: 960px;
	height: 650px;
	padding: 5px;
	
}
.logo{
	width: 100%;
	float: left;
	
}
.left{
	float: left;
	width: 70%;
	height: 68%;
	border-radius: 24px;
	
}
.right{
	float: right;
	width: 30%;
	height: auto;
	border-radius: 24px;
	background: white;
	
}
.left-button{
	float: left;
	width: 70%;
	height: auto;
	border-radius: 24px;

}
.right-button{
	float: right;
	width: 30%;
	height: auto;
	border-radius: 24px;
	
}
.logoImg{
	margin-top: 1%;
	margin-left: 5%;
	float: inherit;
}
.tittle{
	float: inherit;
	margin-left: 20%;
}
.text-input{
	float: left;
	margin-left: 10%;
	margin-top: 10%;
	width: 80%;
	height: 80%;
	color: #0A3871;
	font-size: 20px;
	border: none;
	outline: none;
	background: #F3F5FC;
}
#imgDer{
	margin-left: 2%;
	margin-top: 20%;
	width: 90%;
	height: auto;


}
#texto{
	margin-left: 10%;
	margin-right: 8%;
}
#texto2{
	float: left;
	margin-left: 10%;
	width: 80%;
	height: 60%;
	color: #0A3871;
	font-size: 14px;
	border: none;
	outline: none;

}
#btn-encriptar{
	padding: 24px;
	width: 30%;
	height: 60%;
	border-radius: 24px;
	margin-left: 15%;
	background:  #0A3871;
}
#btn-desencriptar{
	padding: 24px;
	width: 30%;
	height: 60%;
	border-radius: 24px;
	margin-left: 9%;
	background:  #D8DFE8;
}
#copiar{
	margin-left: 33%;
	margin-top: 90%;
	padding: 24px;
	width: 40%;
	height: 10%;
	background: #D8DFE8;
	border-radius: 24px;
	display: none;
}